*{
	margin: 0;
	padding: 0;
}
body{
/*	background-color: rgba(0,0,255, 0.8); */
}
.wrapper{
	width: 900px;
	height: 100%;
	margin: auto;
}

.header {
	height: 80px;
	width: inherit; 
	/*FLEX*/
	display: flex;
}

.header__ul{
	width:inherit;
	height: inherit;
	/*FLEX*/
	display: flex;
	justify-content: space-between;

}

.header__ul-li{
	list-style: none;
	height: inherit;
		/*FLEX*/
	display: flex;
	flex: 1;
}

.header__ul-li a{
	height: inherit;
	width: 100%;    
	text-decoration: none;
	color: #000000;
	display: flex;
	justify-content: center;
    align-items: center;
}

.header__ul-li a:hover{
	background-color: rgba(0,0,0,0.1);
}
.main{
	height: 500px;
	width: 100%;
	margin-bottom: 10px;
	/*FLEX*/
	display: flex;
	align-items: center;
}

.main__content{
	width: 50%;
	height: 100%;
	/*FLEX*/
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.main__content h1{
	font-size: 70px;
	letter-spacing: 2px;
	padding-bottom: 10px;
	text-shadow: 1px 1px 1px red;
}

.main__content h3{
	font-size: 25px;
	padding-bottom: 10px;
}

.main__content a{
	color: black;
}

.main__figure{
	width: 50%;
	height: 100%;
	/*FLEX*/
	align-items: center;
}

.main__figure img{
	width: 100%;
	margin-top: 70px;
}


.banner{
	width: 100%;
	height: 500px;
	animation: banner 10s infinite linear alternate;
	background-size: 100% 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

@keyframes banner{
	0%, 20%{
		background-image: url(../ejercicio1/img/banner1.jpg);
	}
	25%, 45%{
		background-image: url(../ejercicio1/img/banner2.jpg);
	}
	50%, 70%{
		background-image: url(../ejercicio1/img/banner3.jpg);
	}
	75%, 100%{
		background-image: url(../ejercicio1/img/banner4.jpg);
	}
}

.banner__capa{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
}

.banner__info{
	z-index: 1;
	width: 100%;
	max-width: 550px;
	text-align: center;
}

.banner__info h2{
	color: white;
	font-size: 50px;
	margin-bottom: 20px;
	letter-spacing: 1px;
	text-shadow: 2px 2px 2px red;
}

.banner__info p{
	color: white;
	font-size: 25px;
	margin-bottom: 20px;
	letter-spacing: 1px;
	text-shadow: 1px 1px 1px red;
}

.banner__info button{
	width: 120px;
	height: 40px;
	color: white;
	text-shadow: 1px 1px 1px red;
	background: none;
	margin-bottom: 20px;
	letter-spacing: 1px;
	box-shadow: 1px 1px 1px 1px red;
}

.banner__info button:hover{
	background-color: rgba(255,255,255,0.7);
	color: black;
}

.items__h2 {
	text-align: center;
	margin:50px 0;

}

.items{
	height: :210px;
	width: 100%;
	/*FLEX*/
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.items .items__box:hover   {
	transform: scale3d(1.1, 1.1, 1.1);
}

.items__box{
	min-width: 190px;
	height: 190px;
	border: 1px dashed red;
	border-radius: 50%;
	padding: 10px;
	/*FLEX*/
	display: inherit;
	flex-direction: column;
	align-items: center;
}

.items__box-figure{
	max-width: 140px;
	max-height: 140px;
}

.items__box-figure .laptop{
	max-width: 130px;
	max-height: 140px;
}


.items__box-figure img{
	max-width: 150px;
	height: 150px;
}


.articles {
	width: inherit;
	height: 1000px;
	/*FLEX*/
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.articlesBox {
	max-width: 255px;
	max-height: 300px; 
	background-color: rgba(255, 100, 100, 0.7);
	margin: 5px;
	border: 1px solid black; 
	border-radius: 10%;
	overflow: hidden;
	padding-bottom: 5px;
}

.articles .articlesBox:hover   {
	transform: scale3d(1.05, 1.05, 1.05);
}

.articlesBox img {
	width: 255px;
	height: 140px;
}

.articlesBox__content{
	width: 100%;

	/*FLEX*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.articlesBox__content p, input {
	padding: 15px;
	text-align: center;
}

.articlesBox__content h3{
	margin-top: -28px;
	color: white;
}

.footer{
	width: 100%;
	height: 150px;
	border-top: 2.5px solid gray;
	/*FLEX*/
	display: flex;
	justify-content: space-between;
}

.footer__left{
	width: 60%;
	height: 100%;
}

.footer__left-box{
	width: 100%;
	height: inherit;
	/*FLEX*/
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.footer__left-box dt {
	font-size: 17px;
	font-weight: bold;
}

dl {
	font-size: 12px;

}

dl a{
	text-decoration: none;
	color: black;
}
.footer__left-box dl a:hover{
	color: rgba(0,0,0, 0.5);
}

.footer__right{
	width: 38%;
	display: flex;
	flex-direction: column;
}

.dl__container{
	width: 100%;
	height: 40%;
	margin-bottom: 30px;
}

.footer__right dt{
	font-size: 17px;
	font-weight: bold;
}

.dd__form{
	height: 10px;
}

.footer__right input{
	width: 60%;
	height: inherit;
}
.footer__right button{
	width: 30%;
	height: 44px;
	background-color: black;
	border: none;
	color: white;
	cursor: pointer;
}

.footer__right-redes {
	width: 40%;
	height: 30%;
	/*DISPLAY*/
	display: flex;
	justify-content: space-between;

}

.redes{
	width: 50px;
	height: 50px;
}


.facebook{
	background-image: url(../ejercicio1/img/facebook.png);
	background-size: 35px 35px;
	background-repeat: no-repeat;
}

.twitter{
	background-image: url(../ejercicio1/img/twitter.png);
	background-size: 35px 35px;
	background-repeat: no-repeat;
}

.instagram{
	background-image: url(../ejercicio1/img/instagram.png);
	background-size: 35px 35px;
	background-repeat: no-repeat;
}

footer{
	width: 100%;
	padding: 10px 0;
	border-top: 2.5px solid gray;
	/*FLEX*/
	display: flex;
	justify-content: space-between;
}
